[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Vanya Prokopovich
	email = vano1993@yahoo.com
[core]
	editor = code --wait
	pager = diff-so-fancy | less --tabs=4 -RF
[interactive]
	diffFilter = diff-so-fancy --patch
